# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Escludi la cartella portable-exe
portable-exe/

# Escludi file di log, temporanei e cache
*.log
*.tmp
.DS_Store
